<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <!-- markp for using render example -->
  <div id="todo"></div>

  <script type="text/template" id="item-template">
    <div>
      <input type="checkbox" id="todo_complete" <%= completed ? 'checked="checked"' : '' %>>
      <%= title %>
    </div>
  </script>


  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <!-- <script src="models.js"></script> -->
  <script src="view.js"></script>

  <!-- Live Reload Script -->
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>